<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CINESIGAA"
        tools:targetApi="31">

        <!-- Declaração da AberturaActivity como a principal -->
        <activity
            android:name=".AberturaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaração da TelaInicialActivity -->
        <activity
            android:name=".TelaInicialActivity"
            android:exported="false" />

        <!-- Declaração da CadastroActivity -->
        <activity android:name=".CadastroActivity" android:exported="false" />

        <!-- Declaração da MainActivity -->
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- Declaração da FilmeAdaoNegroActivity -->
        <activity android:name=".FilmeAdaoNegroActivity" android:exported="false" />

        <!-- Declaração da FilmeOnePieceActivity -->
        <activity android:name=".FilmeOnePieceActivity" android:exported="false" />

        <!-- Declaração da FilmeWakandaActivity -->
        <activity android:name=".FilmeWakandaActivity" android:exported="false" />

        <!-- Declaração da FilmeALuzDoDemonioActivity -->
        <activity android:name=".FilmeALuzDoDemonioActivity" android:exported="false" />

        <!-- Declaração da PerfilActivity -->
        <activity android:name=".PerfilActivity" android:exported="false" />

        <!-- Declaração da CompraActivity -->
        <activity android:name=".CompraActivity" android:exported="false" />

        <!-- Declaração da SeuHistoricoIngressoActivity -->
        <activity android:name=".SeuHistoricoIngressoActivity" android:exported="false" />

        <!-- Declaração das Activities de Seleção de Horário -->
        <activity android:name=".SelecionarHorarioOnePieceActivity" android:exported="false" />
        <activity android:name=".SelecionarHorarioAdaoNegroActivity" android:exported="false" />
        <activity android:name=".SelecionarHorarioWakandaForeverActivity" android:exported="false" />
        <activity android:name=".SelecionarHorarioALuzDoDemonioActivity" android:exported="false" />

        <!-- Declaração das Activities de Pagamento Pix -->
        <activity android:name=".PagamentoPixActivity" android:exported="false" />
        <activity android:name=".PagamentoPixOnePieceActivity" android:exported="false" />
        <activity android:name=".PagamentoPixWakandaActivity" android:exported="false" />
        <activity android:name=".PagamentoPixLuzDemonioActivity" android:exported="false" />

    </application>

</manifest>
